body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vid {
    position: fixed;
    right: 0;
    opacity: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-container {
  background: radial-gradient(circle, #333 0%, #111 100%);
  color: white;
  padding: 40px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.logo img {
  width: 150px;
  margin-bottom: 20px;
}
h2 {
  font-weight: 400;
  color: #ccc;
}

h1 {
  font-weight: 700;
  margin-top: 0;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  width: 95%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.forgot {
  display: block;
  margin-top: 15px;
  color: #ccc;
  font-size: 13px;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}